<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Maintenance Activity Missing Alert</title>
  </head>
  <body>
    <p>Dear {{ created_by }},</p>
    <p>
      Maintenance for <strong>{{ machine_name }}</strong> on line
      <strong>{{ machine_line }}</strong> scheduled for {{ maintenance_date }}
      is overdue by 2 days. Please ensure it's completed. Kindly coordinate with
      the team: <strong>{{ recipient_first_names }}</strong>.
    </p>
  </body>
</html>
